@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    overflow: auto;
    min-height: 100%;
}

/* Mobile styles */
@media (max-width: 800px) {
    .logo-ss {
        display: block !important;
        margin-top: 25px;
    }
    .info-container {
        display: none !important;
    }
    .menu-btn {
        display: block !important;
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        color: hsla(0,0%,40%,.85);
        transition: color .3s;
        margin: 27px 0 0 25px;
    }
    .menu-btn:hover {
        color: #000;
    }

    .navbar-container {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
    }
    .nav-links button.active {
        border-bottom: none !important;
        color: #C68EFD !important;
        font-weight: 400 !important;
    }

    /* Hide navbar by default */
    .navbar-container-s {
        position: absolute;
        top: 0;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
        z-index: 5000;
        width: 250px;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        background: #f8f8f8;
        padding: 10px;
    }

    .close-btn-s {
        display: block !important;
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        color: rgba(99, 99, 99, 0.8);
    }

    /* Show navbar when toggled */
    .navbar-container-s.open {
        transform: translateX(0);
    }
    .cart-btn {
        display: none;
    }
    .navbar {
        background: #f8f8f8;
    }
    .nav-brand {
        display: none;
    }
    .main-container {
        transition: filter 0.3s ease-in-out;
        gap: 60px;
    }
    
    .main-container.blurred {
        filter: blur(4px);
        pointer-events: none; 
    }
    .popup-window {
        display: flex !important;
        flex-direction: column !important;
        width: 90vw;  /* Make it more flexible */
        height: auto; /* Allow it to adjust */
        max-height: 90vh;
    }
    .close-btn {
        top: 0 !important;
        right: 0 !important;
    }
    .small-screen-navbar {
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-brand-s {
        z-index: 100;
        display: block !important;
        text-decoration: none;
        color: rgba(99, 99, 99, 0.5);
        padding-top: 27px;
        transition: color .3s ease;
    }
    .navbar-brand-s:hover {
        color: #000;
    }
    .cart-shopping-s {
        position: relative;
        display: block !important;
        background-color: #C68EFD;
        border-radius: 50%;
        color: white;
        border: none;
        outline: none;
        font-size: small;
        padding: 4px; 
        width: 30px; 
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        margin: 27px 25px 0 0;
    }
    .cart-shopping-s:hover {
        background-color: #A369E4; 
        transform: scale(1.1); 
}
    .cart-badge {
        position: absolute;
        top: 0;
        right: 0;
        background: #C68EFD;
        color: white;
        font-size: 12px;
        font-weight: bold;
        border-radius: 50%;
        padding: 4px 7px;
        text-align: center;
    }
    .added-to-cart-small-screen {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 0; 
        right: 0;
        width: 250px; 
        height: 100vh;
        background: #f8f8f8;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        z-index: 10000;
        overflow-y: auto;
        box-sizing: border-box;
    }
    .added-to-cart-small-screen ul {
        flex: 1;
        list-style: none;
        padding: 0;
        margin-bottom: 0;
    }
    .added-items {
        margin: 20px 10px;
    }
    .added-items .tooltip-img {
        object-fit: cover;
    }
    .remove-item-s {
        position: absolute;
        right: 10px;
        border: 2px solid;
        border-radius: 100%;
        color: #ccc;
        display: block;
        font-size: 15px !important;
        font-weight: 700;
        height: 24px;
        line-height: 19px !important;
        text-align: center;
        width: 24px;
        transition: all .3s;
    }

    .remove-item-s:hover {
        color: black;
        border:  2px solid #000;
    }

    .added-to-cart-small-screen p {
        font-size: 14px;
        margin-top: 10px;
    }
    .added-to-cart-small-screen .close-cart {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        color: #000;
    }
    .added-to-cart-small-screen .tooltip-heading {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .added-to-cart-small-screen h3 {
        color: rgba(99, 99, 99, 0.5);
        padding: 10px;
        position: relative;
    }
    .added-to-cart-small-screen .divider {
        width: 60px;
        border-bottom: 2px solid rgba(99, 99, 99, 0.5);
        text-align: center;
    }
    .cart-details {
        width: 100%;
        background: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        border-top: 1px solid #ececec;
    }
    .cart-details button {
        padding: 5px;
        outline: none;
        border: none;
        text-align: center;
        color: white;
    }
    .cart-details .order-btn-s {
        background-color: #C68EFD;
        transition: color .3s;
    }
    .cart-details .view-cart-s {
        background-color: #E9A5F1;
    }
    .cart-details .order-btn-s:hover {
        background-color: #A369E4;
    }
    .cart-details .price-details-s {
        padding: 10px;
        border-bottom: 2px solid #ececec;
        margin-bottom: .5em;
    }
    .price-details-s p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .cart-container form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cart-product-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .cart-backBtn-ss {
        width: 100%;
        display: block !important;
        margin-top: 20px;
        letter-spacing: none;
        outline: none;
        border: none;
        background-color: #C68EFD;
        color: white;
        text-transform: uppercase;
        font-size: 15px;
        white-space: nowrap;
        cursor: pointer;
        padding: 5px 10px;
        transition: background-color .3s;
    }
    .cart-backBtn-ss:hover {
        background-color: #A369E4;
    }
    .main-container {
        justify-content: center;
        padding: 40px 10px;
    }
    .cart-total {
        width: 100%;
    }
    .cart-backBtn-none {
        display: none;
    }
    .order-container {
        flex-direction: column !important;
    }
    .customer-details {
        width: 100% !important;
    }
    .checkout-container {
        width: 100% !important;
    }
    .checkout-form {
        padding: 20px;
    }
    .btn-final-confirm {
        display: flex;
        justify-content: space-between;
    }
    .order-backBtn-ss {
        display: block !important;
    }
    .cart-confirm-btn {
        width: 100%;
        margin-top: 35px;
    }
}

@media (max-width: 560px) {
   
    .cart-table .product-price {
        display: none;
    }
    .cart-table .product-total {
        display: none;
    }
    .cart-table .productremove-btn {
        padding: 0;
    }
    .product-remove {
        font-size: 12px;
    }
    .cart-product-wrapper table td p {
        white-space: wrap;
    }
    .main-container {
        justify-content: center;
        padding: 40px 10px;
    }
    .cart-back-btn {
        margin-bottom: 40px;
    }
    .cart-success-message .check-msg {
        white-space: wrap;
    }
    .valider-commande {
        margin-top: 15px;
        width: 100%;
    }
    .cart-backBtn-ss {
        width: 100%;
        margin-top: 15px;
    }
    .btn-final-confirm {
        flex-direction: column;
        gap: 20px;
    }

}

.logo-ss {
    display: none;
}

.menu-btn {
    display: none;
}

.header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 6px 20px;
    background: #E9A5F1; 
}

.icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
}

.icons a {
    color: white;
    position: relative;
}
.header-wrapper .toolTip {
    position: absolute;
    background: black;
    top: 42px;
    right: 0;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.header-wrapper .toolTip::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-bottom-color: rgba(46, 46, 46, 0.8);
}

.header-wrapper .toolTip.facebook::before {
    left: 55%;
}

.header-wrapper .toolTip.instagram::before {
    left: 67%;
}

.header-wrapper .toolTip.email::before {
    left: 81%;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    height: 120px;
    width: 100%;
}



.navbar-container a {
    text-decoration: none;
    color: rgba(99, 99, 99, 0.8);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.search-container {
    flex-grow: 4;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: 0;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}

.search-container input {
    width: 100%;
    outline: none;
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    font-family: 'Montserrat', sans-serif;
    height: 30px; 
    transition: box-shadow 0.3s, background 0.3s, opacity 0.3s;
}

.search-container input:hover {
    box-shadow: none;
}

.search-container input:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

.search-container button {
    background: #C68EFD;
    border: none;
    color: white;
    padding: 3px 7px;
    cursor: pointer;
    transition: 0.3s;
}

.info-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.info-container ul {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 10px 0;
}

.info-container ul li a {
    white-space: nowrap;
    font-size: .8em;
    font-weight: 400;
}

.info-container ul li a span {
    margin-left: 5px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fdf6fe;
    padding: 10px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav-links button {
    outline: none;
    border: none;
    background: none;
    color: hsla(0, 0%, 40%, .85);
    font-weight: 500;
    transition: color 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .9em;
    letter-spacing: .02em;
    padding: 10px 0;
    text-transform: uppercase;
}

.nav-links button.active {
    color: #C68EFD;
    border-bottom: 2px solid #C68EFD;
    font-weight: 600;
}

.nav-links button:hover {
    color: #C68EFD;
}

.cart-btn button {
    position: relative;
    border-radius: 999px;
    border: none;
    outline: none;
    background: #C68EFD;
    color: white;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin: 0 40px 0 0;
}

#root {
    position: relative;
}

.box {
    margin: 0;
    min-height: 100vh;
}

footer {
    width: 100%;
    background-color: #C68EFD;
    color: white;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

footer p {
    padding: 0 15px;
    margin-bottom: 0;
    white-space: wrap
}

.btn-tooltip {
    z-index: 100;
    position: absolute;
    background: white;
    top: 47px;
    right: 10px;
    color: hsla(0, 0%, 40%, .85);
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.btn-tooltip::before {
    content: "";
    position: absolute;
    left: 70%;
    bottom: 100%;
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-bottom-color: white;
}

.empty-cart-tooltip {
    padding: 20px;
}

.shopping-bag {
    font-size: 65px;
    padding: 20px;
    color: hsla(0, 0%, 69%, 0.85);
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.product-item {
    width: 100%;
    margin: 0;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    border: 5px solid #C68EFD;
    padding: 10px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.main-image {
    border-radius: 25px;
    object-fit: cover;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 2;
}

.main-image.scale {
    transform: scale(1.02);
}

.blur-image {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.blur-image.show {
    opacity: 1;
}

.love-btn {
    z-index: 20;
    top: 10px;
    right: 10px;
    position: absolute;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1); 
    color: rgba(0, 0, 0, 0.1); ;
    opacity: 0;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.love-btn.appear {
    opacity: 1;
}

.love-btn.btn-hovered {
    background-color: #b20000;
    border-color: #b20000;
    color: white;
}

.love-tooltip {
    z-index: 100;
    position: absolute;
    color: white;
    background: #E9A5F1;
    margin: 0 5px 0 60px;
    padding: 10px 10px 0 10px;
    top: 17%;
    right: 0;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.love-tooltip::before {
    content: "";
    position: absolute;
    left: 88%;
    bottom: 100%;
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-bottom-color: #E9A5F1;
}

.details h3, .details p {
    font-size: .9em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin: .5em;
    text-align: center;
}

.details {
    transform: rotateX(90deg); 
    transition: transform 0.3s ease-in-out;
}

.details.move {
    transform: rotateX(0);
}

.details h3 {
    cursor: pointer;
}

.details p {
    font-weight: 700;
}

.see-options {
    color: white;
    position: absolute;
    z-index: 20;
    bottom: 25px;
    left: 15px;
    font-size: 20px;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; 
    opacity: 0;
    cursor: pointer;
}

.see-options.show {
    transform: translateY(0);
    pointer-events: auto; 
    opacity: 1;
}

.see-options:hover {
    color: #C68EFD;
}

.cart-tooltip {
    z-index: 30;
    position: absolute;
    background-color: black;
    color: white;
    bottom: 55px;
    left: 15px;
    padding: 5px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.cart-tooltip::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 100%;
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-top-color: black;
}

.popup-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
    overflow: hidden;
}

.popup-window {
    background: white;
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    overflow-y: auto;
    width: 1000px;
    height: 550px;
    max-width: 90vw; /* Prevents overflow on small screens */
    max-height: 90vh;
    box-sizing: border-box;
}

.popup-content {
    padding: 30px;
}

.popup-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.popup-image img {
    width: 100%;
    height: 100%;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    outline: none;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.popup-price {
    font-size: 18px;
    font-weight: 600;
    color: #ff5733;
}

.popup-details {
    text-align: center;
    padding: 5px;
}

.color-option {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, border 0.3s ease;
}

.size-option {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #000;
    margin: 5px;
    cursor: pointer;
}

.add-to-cart {
    border: none;
    outline: none;
    background-color: #C68EFD;
    color: white;
    margin-top: 5px;
    padding: 5px 26px 5px 26px;
    text-transform: uppercase;
    letter-spacing: 2;
}

.add-to-cart:hover {
    background-color: purple;
}
.size-container {
    display: flex;
    align-items: center; 
    gap: 10px;
    position: relative;
}

.size-dropdown {
    display: flex;
    gap: 5px;
}

.size-button {
    padding: 5px 10px;
    border: 1px solid #000;
    margin: 5px;
    cursor: pointer;
    background: none;
}

.size-button.selected {
    background-color: #3498db; 
    color: white;
    border-color: #3498db;
}

.color-option.selected {
    border: 2px solid #3498db;
    transform: scale(1.2);
}
.close-btn-s {
    display: none;
}

.s-navbar {
    display: none;
}

.navbar-brand-s {
    display:  none;
}
.cart-shopping-s {
    display: none;
}
.cart-badge {
    position: absolute;
    top: -5px;
    right: -6px;
    background-color: rgba(99, 99, 99, 0.5);
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-tooltip ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 0;
    padding: 10px;
}

li.added-to-cart {
    list-style: none;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tooltip-product-details {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 5px;
}

.tooltip-img {
    width: 50px;
}

.added-to-cart-small-screen {
    display: none;
}

.remove-item {
    position: absolute;
    right: 10px;
    border: 2px solid;
    border-radius: 100%;
    color: #ccc;
    display: block;
    font-size: 15px !important;
    font-weight: 700;
    height: 24px;
    line-height: 19px !important;
    text-align: center;
    width: 24px;
    transition: all .3s;
}

.remove-item:hover {
    border: 2px solid black;
    color: #000;
}

.tooltip-img-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.ordering-details {
    width: 100%;
    background: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    border-top: 1px solid #ececec;
}
.ordering-details button {
    padding: 5px;
    outline: none;
    border: none;
    text-align: center;
    color: white;
}
.ordering-details .order-btn {
    background-color: #C68EFD;
    transition: color .3s;
}
.ordering-details .view-cart {
    background-color: #E9A5F1;
}
.ordering-details .order-btn:hover {
    background-color: #A369E4;
}
.ordering-details .price-details {
    padding: 10px;
    border-bottom: 2px solid #ececec;
    margin-bottom: .5em;
}
.price-details p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-success-message {
    width: 100%;
    margin-top: 30px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    color: green;
    white-space: nowrap;
}

.cartPlus-none {
    display: none;
}

.preview-view-cart {
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    margin: 0;
    padding: 0;
}

.preview-view-cart.preview-view-cart-hovered {
    z-index: 9999;
    opacity: 1 !important;
    pointer-events: auto;
}

.cartplus-view-cart {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    outline: none;
    border: none;
    background-color: #C68EFD;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: .85em;
    font-weight: 700;
    padding: 1px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 50%;
}
.cartplus-preview {
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
    border: none;
    background-color: #C68EFD;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: .85em;
    font-weight: 700;
    padding: 1px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 50%;
}

.explore-btn {
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    outline: none;
    border: none;
    background-color: #C68EFD;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: .85em;
    font-weight: 700;
    padding: 0;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: 100%;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; 
}

.explore-btn.explore-btn-hovered {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.explore-btn-none {
    display: none;
}
.cart-container {
    width: 100%;
    padding: 50px;
}
.cart-product-wrapper {
    display: flex;
    gap: 20px;
}

.cart-product-wrapper table th {
    border-bottom: 2px solid #ececec;
    font-size: .9em;
    line-height: 1.3;
    padding: .5em;
    text-align: left;
    text-transform: uppercase;
}

.cart-product-wrapper table td {
    white-space: nowrap;
}

.divider {
    width: 0;
    height: auto;
    border-left: 1px solid #ececec;
}

.cart-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 43px;
}
.cart-empty p {
    font-size: 1.7em;
    letter-spacing: 1px;
    white-space: nowrap;
}
.cart-back-btn {
    border: none;
    outline: none;
    background: #C68EFD;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    padding: 4px 10px;
    letter-spacing:  .03em;
    font-size: 15px;
    transition: all .3s;
    white-space: nowrap;
}
.cart-back-btn:hover {
    background: #A369E4;
    letter-spacing: 0;
}
.product-img-cart {
    width: 45px;
}

.cart-table {
    float: 1;
    width: 100%;
    border-color: #ececec;
    border-spacing: 0;
    margin-bottom: 1em;
}
.cart-total {
    flex: 1;
}

.cart-total table {
    width: 100%;
}

.cart-total th, td {
    line-height: 1.3;
    padding: .5em;
}

.cart-table th, .cart-table td {
    border-bottom: 2px solid #ececec;
    font-size: .9em;
    line-height: 1.3;
    padding: .5em;
    text-align: left;
}

.product-img-cart {
    width: auto;
    white-space: nowrap;
    height: auto;
    display: flex;
}

.product-img-cart img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.productremove-btn {
    text-align: center;
    width: 24px;

}

.product-remove {
    border: 2px solid;
    border-radius: 100%;
    color: #ccc;
    font-weight: 700;
    transition: all .3s;
}

.product-remove:hover {
    color: black;
    border: 2px solid #000;
}


.quantity-container {
    display: inline-flex;
    white-space: nowrap;

}

input[type=button] {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #666;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    text-shadow: 1px 1px 1px #fff;
    text-transform: none;
}

.product-quantity {
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}

input[type=number] {
    text-align: center;
    max-width: 2.5em;
    font-size: .97em;
    color: #000;
    transition: color .3s, border .3s;
    border: 1px solid #ddd;
    box-shadow: 3px 0 #ccc;

}
input[type="number"]:focus {
    outline: none;  
}

.valider-commande {
    border: none;
    padding: 4px 10px;  
    background: purple;
    white-space: nowrap;
    color: white;
    cursor: pointer; 
    text-transform: uppercase;
}

.cart-backBtn-ss {
    display: none;
}

.order-form {
    width: 100%;
}

.order-container {
    width: 100%;
    padding: 15px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.customer-details {
    width: 60%;
}

.order-container h3 {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 400;
    border-bottom: 2px solid #ececec;
    padding: 0 0 .5em 0;
}

.order-container label {
    display: block;
    font-size: .9em;
    font-weight: 700;
    margin-bottom: .4em;
}

.order-container input[type=text] {
    width: 100%;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    height: 2.507em;
    padding: 0 .75em;
    border: 1px solid #ddd;
    margin-bottom: 1em;
    transition: all .3s ease;
}

.order-container input[type=text]:hover {
    box-shadow: none;
}

.order-container input[type=text]:focus {
    border: 1px solid #b20000;
    box-shadow: none;
}

.order-container strong {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
}

.order-container select {
    width: 100%;
    padding: 0 .75em;
    height: 2em;
    outline: none;
    border: 1px solid #ddd;
    margin-bottom: 1em;
    box-shadow: 2px 1px rgba(0, 0, 0, .1);
    transition: all .3s ease;
}

.order-container select:focus {
    outline: none;
}

.checkout-container {
    width: 40%;
}
.checkout-form {
    border: 2px solid #A369E4;
    padding: 30px;
    height: fit-content;
    width: 100%;
}

.checkout-form h3 {
    font-size: 1.1em;
    text-transform: uppercase;
    border: none;
}

.checkout-review {
    width: 100%;
    white-space: wrap;
}

.checkout-review table {
    width: 100%;
}

.checkout-form table thead th {
    border-bottom: 2px solid #ececec;
    border-spacing: 0;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

.checkout-form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.checkout-form ul li {
    display: flex;
    gap: 10px;
}

.btn-final-confirm {
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.final-confirm {
    width: auto;
}

@media (min-width: 800px) {
    .final-confirm {
        width: 100%;
    }
}

.order-backBtn-ss {
    display: none;
    border: none;
    outline: none;
    background: #C68EFD;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    padding: 4px 10px;
    letter-spacing: .03em;
    font-size: 15px;
    transition: all .3s;
    white-space: nowrap
}